@keyframes pop-up {
    0% {
        top: 250px;
    }
    25% {
        top: 35px;
    }
    50% {
        top: 35px;
    }
    100% {
        top: 250px
    }
}
@keyframes pop-up-offset {
    0% {
        top: 250px;
    }
    60% {
        top: 35px;
    }
    85% {
        top: 35px;
    }
    100% {
        top: 250px
    }
}

.peek-a-boo {
    animation: 15s infinite pop-up;
}
.peek-a-boo-offset {
    animation: 15s infinite pop-up-offset;
}