@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, button {
    font-family: Fredoka;
}
.font-fredoka {
    font-family: Fredoka;
}
*::selection {
    background: lightgreen;
    color: #1e1e1d;
}

.bg-space {
    background-color: #1e1e1d;
}
.bg-void {
    background-color: #d0d0ce;
}

/* page icons/buttons for carousel window */
svg.paging-dot {
    margin: 10px;
    fill: #d0d0ce;
}
.slider-control-bottomcenter > ul {
    top: 45px !important;
}
.slider-frame {
    padding-top: 40px;
}

.chat-right:after{
	content: ' ';
	position: absolute;
	right: 7%;
    bottom: -30px;
	border: 20px solid;
	border-color:  rgb(191, 219, 254)
        rgb(191, 219, 254)
        transparent transparent;
}
.chat-left:after{
	content: ' ';
	position: absolute;
	left: 7%;
    bottom: -30px;
	border: 20px solid;
	border-color:  rgb(229, 231, 235) 
        transparent transparent
        rgb(229, 231, 235) ;
}
